<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="fileSystemSection"
             type="BCL.Configuration.FileSystemWatcherConfigSection, BCL"/>
  </configSections>
  <fileSystemSection culture="en">
    <directories>
      <directory path="D:\"/>
    </directories>
    <rules defaultDir="D:\createdFiles">
      <rule filePattern="1.*" isOrderAppended="true" isDateAppended="true" destFolder="D:\newFiles1"/>
      <rule filePattern="2.*" isOrderAppended="true" isDateAppended="false" destFolder="D:\newFiles2"/>
      <rule filePattern="3.*" isOrderAppended="false" isDateAppended="true" destFolder="D:\newFiles3"/>
      <rule filePattern="4.*" isOrderAppended="false" isDateAppended="false" destFolder="D:\newFiles4"/>
    </rules>
  </fileSystemSection>
</configuration>